# SUPABASE CLOUD CONFIGURATION
NEXT_PUBLIC_SUPABASE_URL=https://knriykfmhjyaxxhpbgrc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtucml5a2ZtaGp5YXh4aHBiZ3JjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk0NTM1MjksImV4cCI6MjEwNTAyOTUyOX0.TYwYPsQW7uyC6MUd6c6yPvpFz3bo0RxwrQZx9Sj_dP4
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key-here

# DIRECT DATABASE CONNECTION (AWS Region: ap-northeast-1 / Tokyo Pooler)
DATABASE_URL=postgresql://postgres.knriykfmhjyaxxhpbgrc:gemilang-labs@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres
DIRECT_URL=postgresql://postgres.knriykfmhjyaxxhpbgrc:gemilang-labs@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres
